
<nav>
    <div class="nav-wrapper brown darken-4">
      <a href="/" class="brand-logo" id="navBarStyle"><i class="fas fa-coffee"></i>GET ME MY COFFEE!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/orders/create">Place Order</a></li>
        <li><a href="/orders">View Orders</a></li>
        <li><a href="/intern">Intern Page</a></li>
      </ul>
    </div>
</nav>
        