
<nav>
    <div class="nav-wrapper brown darken-4">
            <a href="/" class="center brand-logo" id="navBarStyle"><i class="hide-on-med-and-down fas fa-coffee"></i>GET ME MY COFFEE!</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons navList">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/orders/create" class="navList">Place Order</a></li>
                <li><a href="/orders" class="navList">View Orders</a></li>
                <li><a href="/intern" class="navList">Intern Page</a></li>
            </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/orders/create">Place Order</a></li>
    <li><a href="/orders">View Orders</a></li>
    <li><a href="/intern">Intern Page</a></li>
  </ul>
        