<div class="container">
    <h3>Create New Order</h1>
	{{#if employees }}
    <form class="clearfix mb-4" id="createOrder">
   
    	<label  class="input-field" for="name">Name</label>
        <div class="input-field">
            
            <select name="EmployeeId" class="browser-default" id="name" required>
                <option value="" disabled selected>Please select your name</option>
                {{#each employees }}
                <option value="{{ this.id }}">{{ this.name }}  {{ this.lastName}}</option>
                {{/each }}
            </select>
        </div>

        <div class="form-group">
            <label for="order">Order</label>
            <input type="text" id="order" name="order" class="form-control" aria-describedby="order" placeholder="Mocha Latte" required>
        </div>

        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" id="comments" name="comments" aria-describedby="comments" placeholder="2 Sugars"></textarea>
        </div>

        <button class="btn waves-effect waves-light" type="submit" id="orderSubmit">Submit</button>
    </form>
	{{else }}
	<p>Please add an Employee First! <a href="/intern">Create Employee</a></p>
	{{/if }}
</div>
