<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GET ME MY COFFEE!</title>
</head>
<body>
  
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col s12 m9 l9">
        <div id="welcomeDiv">
          <h3>Good Morning!</h3>
          <p>Employees- find your name, type in your order, and your beverage will be at your desk when you arrive.</p>
          <a class="btn btn-small" href="/orders/create">Place Order</a>
          <p>Couriers- moniter incoming orders and view destinations.</p>
          <a class="btn btn-small" href="/intern">Courier Page</a>
        </div>
        <img src="img/coffee.jpg" width="100%">
        <p>{{ msg }}</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
