
<h3>Orders:</h3>
<ul id="example-list" class="list-group">
    {{#each orders}}
    <li data-id="{{this.id}}" class="list-group-item">
        <span>{{ this.name }}</span> | <span>{{ this.order }}</span> | <span>{{ this.comments }}</span>
        <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
</ul>