@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color:#F2E9E5;
}


#createOrder label {
  font-weight: bolder;
  color: black;
}

#navBarStyle {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #a1887f;
}

.colorBlack {
    color:black;
  }
  
.btn-small {
  background-color: #C18265;
}